body {
    text-align: center;
    height: 100vh;
}

.row {
    display: flex;
}

.col-6 {
    width: 50%;
}

button {
    margin-top: 40px;
    cursor: pointer;
    height: 54px;
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    font-size: 22px;
}

button:hover {
    color: blue;
}